@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  /* color */
  --black: #0a192f; /* #0D1219;*/
  --white: #fff;
  --light-grey: #e5e5e5;
  --lightest-grey: #dcd6d62f;
  --darkest-grey: rgba(255, 255, 255, 0.13);
  --dark-grey: #a8a8a8;
  --purple: #4831d4;
  --dark-purple: #3d155f;
  --darkest-purple: #372c7d;
  --blue-purple: #a09be7;
  --hamburger: rgba(196, 196, 196, 0.12);

  /* font-sizes */
  --fs-vw: 0rem;
  --fs-logo: calc(3rem + var(--fs-vw));
  --fs-h1: calc(4.25rem + var(--fs-vw));
  --fs-h2: calc(3.85rem + var(--fs-vw));
  --fs-h3: calc(2.85rem + var(--fs-vw));
  --fs-h4: calc(2rem + var(--fs-vw));
  --fs-p-normal: calc(1.8rem + var(--fs-vw));
  --fs-p-small: calc(1.35rem + var(--fs-vw));
  --fs-p-smallest: calc(1.15rem + var(--fs-vw));
  --fs-p-desc: calc(1.4rem + var(--fs-vw));

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  /* z-index */
  --high: 10;
  --medium: 5;
  --low: 1;
  --null: -1;

  /* font-weight */
  --extra-bold: 900;
  --bold: 700;
  --regular: 400;
  --light: 300;

  /* container */
  --width-container: 85%;
  --max-width-container: 1000px;

  /* others */
  --lh: 150%;
  --vw: calc(100vh - 64px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button,
input {
  border: none;
}

a {
  color: inherit;
}

section {
  padding-top: 68px;
}

body {
  background-color: #31267a52;
  background-color: var(--black);
  background-color: #1d164c;
}